.container {
	padding: 200px 0 0 0;
	max-width: 480px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.link {
	padding: 0 0 0 6px;
	transition: all 0.4s ease-in-out;
  text-decoration: none;
  color: #4C4CFF;
}
.link:hover {
	color: #FFFFFF;
	opacity: 0.8;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form svg {
	margin: 0 0 0 190px;
}

.form div {
	width: 100%;
}


