.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 200px;
  max-width: 480px;
}

.title {
  margin: 0;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.form div {
	width: 100%;
}

.form svg {
	margin-left: 190px;
}

.link {
  padding-left: 8px;
  text-decoration: none;
  color: #4C4CFF;
}

.link:hover {
  opacity: 0.8;
}

