.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.staffingContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%
}

.emptyStaffingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 2px #4c4cff dashed;
}

.emptyStaffingIngredients {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.stuffingList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
  list-style-type: none;
  height: calc(100vh - 516px);
  padding: 0;
  width: 100%;
}

.stuffingList::-webkit-scrollbar {
  background-color: #2F2F37;
  width: 8px;
}

.stuffingList::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.stuffingItem:last-of-type {
  margin-bottom: 0;
}

.total {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.priceBox {
  display: flex;
  align-items: center;
}

.price {
  padding-right: 9.5px;
}