.orderList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100vh - 235px);
  width: 100%;
  margin-top: -60px
}

.orderList::-webkit-scrollbar-track {
  background: #2f2f37;
}

.orderList::-webkit-scrollbar {
  width: 8px;
}

.orderList::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.link {
  text-decoration: none;
  color: inherit;
}