.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  max-width: 720px;
  width: 100%;
  min-height: 390px;
  transform: translate(-50%, -50%);
  border-radius: 40px;
  background-color: #1c1c21;
  border: 1px solid rgba(76, 76, 255, 0.2);
  border-radius: 40px;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
  0px 16px 24px rgba(0, 0, 0, 0.04),
  0px 4px 8px rgba(0, 0, 0, 0.04),
  0px 0px 1px rgba(0, 0, 0, 0.04);
  transition: 0.5s linear;
  z-index: 2;
}

.title {
  margin: 0;
}

.closeButton {
  position: absolute;
  justify-self: flex-end;
  top: 72px;
  right: 40px;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.closeButton:hover {
  opacity: 0.6;
  transition: opacity 0.6s linear;
}