.container {
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
}

.link {
  padding: 0 0 0 10px;
  text-decoration: none;
  color: #4C4CFF;
}
.link:hover {
  color: #ffffff;
  transition: all 0.4s ease-in-out;
  opacity: 0.6;
}

.form {
  width: 100%;
}

.form div {
  width: 100%;
}

.form svg {
  margin: 0 0 0 190px;
}
.button{
  display: flex;
  flex-direction: column;
  align-items: center;
}
